
body{
    background-color: yellow;
}
.red{
    color:red;
    font-size: 20px;
}
.green{
    color: green;
    font-size: 25px;
}
.blue{
    color: blue;
    text-align: center;
}
.magenta{
    color: magenta;
    text-align: center
}
